.darkElement{
  background: black;
  color:white;
}


.lightElement{
  background: white;
  color:black;
}

/* ------------------------------------------------------------------------------------------------------------------ */

h2 {
  color: orange;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.pageTitle {
  color: rgb(255, 174, 0);
  text-align: center;
}

.companyName {
  font-family: 'Vampiro One', cursive;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.descp {
  margin: 10px;
  background: black;
  border-radius: 10px;
  padding: 10px;
}


.numProd {
  color: rgb(255, 174, 0);
}

/* --------------------------------------------------------------------------------------------------------------------- */

.gallery {
  margin: 10px;
  border-radius: 10px;
  background: black;
  padding: 1px 15px 15px 15px;
}

.pictures {
  margin: auto;
  text-align: center;
}

.pictures img {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: transform 1s, filter 1s ease-in-out;
  filter: brightness(70%);
  position: relative;
}

.pictures img:hover {
  filter: brightness(100%);
  transform: scale(1.8);
  z-index: 1;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.sideBySide {
  margin: 10px;
  background: black;
  border-radius: 10px;
  display: block;
  overflow: hidden;
}

.specs {
  float: left;
  padding: 10px;
  width: 45%;
}

.specs ul {
  color: black;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(179, 179, 179, 1) 49%, rgba(255, 255, 255, 1) 100%);
  padding: 24px 25px;
  list-style-type: square;
  display: table;
}

.perf {
  float: right;
  padding: 10px;
  width: 40%;
}

.perf table {
  border-collapse: collapse;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(179, 179, 179, 1) 49%, rgba(255, 255, 255, 1) 100%);
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

th {
  background: linear-gradient(135deg, rgba(179, 179, 179, 1) 49%, rgba(255, 255, 255, 1) 100%);
  color: black;
  text-align: left;
}

td {
  background: rgba(170, 170, 170, 0.2);
  color: rgb(56, 56, 56);
}

/* top-left border-radius */

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */

table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

/* bottom-left border-radius */

table tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.link {
  margin: 10px;
  border-radius: 10px;
  background-color: black;
  padding: 1px 10px 10px 10px;
}

.hyperlink {
  background: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
  border-radius: 10px;
  padding: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  width: 250px;
  margin: auto;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.hyperlink a {
  color: black;
}

.hyperlink a:link {
  text-decoration: none;
}

.hyperlink:hover {
  transform: scale(1.2);
}



/* --------------------------------------------------------------------------------------------------------------------- */

/* Mobile UI */

@media only screen and (max-width: 800px) {
  .specs, .perf {
    width: 100%;
    float: none;
    font-size: 3vw;
  }
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* 
REFERENCES:

Hyperlinks:
CSS Links. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_link.asp

Tables:
CSS Tables. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_table.asp

Go to top button:
How to create a link that goes to the top of a web page. (2019, December 30). Retrieved July 06, 2020, from https://www.computerhope.com/issues/ch001475.htm
DarkCode.(2018, October 27). Scroll top button back to top Using Only HTML & CSS [Video File]. Retrieved July 06, 2020 from https://www.youtube.com/watch?v=Vef9bxTilCU&feature=youtu.be
Smooth scrolling:
How TO - Smooth Scroll. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/howto/howto_css_smooth_scroll.asp

Gradients:
Generator, Maker, and Background. (n.d.). Retrieved July 06, 2020, from https://cssgradient.io/

Gallery images:
CSS z-index Property. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/cssref/pr_pos_z-index.asp
How TO - Zoom on Hover. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/howto/howto_css_zoom_hover.asp

Navigation bar:
CSS Horizontal Navigation Bar. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_navbar_horizontal.asp

Aligning Items:
Centering Things in CSS Using Flexbox. (n.d.). Retrieved July 06, 2020, from https://alligator.io/css/centering-using-flexbox/

Nested div backgrounds: 
Grobmeier, C. (2011, January 28). Nested divs with 100% height. Retrieved July 06, 2020, from https://grobmeier.solutions/neseteddivs-with-100-height-28012011.html

Flexbox bug in safari:
BrianBrian, &amp; Michael Benjamin. (1969, March 01). Image stretching in flexbox in Safari. Retrieved July 06, 2020, from https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari

Display Properties:
CSS display Property. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/cssref/pr_class_display.asp

Social Media Icons:
How TO - Social Media Buttons. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
Icons Reference. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/icons/icons_reference.asp

Mobile UI Styling:
Responsive Web Design - Media Queries. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_rwd_mediaqueries.asp

*/