html {
  scroll-behavior: smooth;
}

.darkElement{
  background: black;
  color:white;
}


.lightElement{
  background: white;
  color:black;
}
/* --------------------------------------------------------------------------------------------------------------------- */

table {
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  margin: auto;
  background: black;
  color: rgb(165, 165, 165);
  width: 95%;
}

caption {
  background: black;
  border-radius: 10px 10px 0px 0px;
  color: orange;
  font-size: 20px;
  padding: 15px;
}

td {
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
  
}

td a {
  display:block;
  width:100%;
  padding: 15px;
  text-align: center;
}

td:hover {
  background: linear-gradient(to bottom right, red, rgb(255, 153, 0));
  color: white;
}

table a {
  color: grey;
}

table a:link {
  text-decoration: none;
}

table a:hover {
  color: white;
}

/* --------------------------------------------------------------------------------------------------------------------- */
.searchBox{
  margin:10px;
  padding:10px;
  border-radius: 10px;
  background:black;
  text-align: center;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.cars {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background: black;
  color: grey;
}

input[type=text]:focus{
  width:70%;
}

#list{
  font-size: 1.5em;
}

.cars h2 {
  color: orange;
  text-align: center;
}

.topButton {
  position: fixed;
  padding: 0;
  right: 45px;
  bottom: 40px;
  text-decoration: none;
  text-align: center;
  color: orange;
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* 
REFERENCES:

Hyperlinks:
CSS Links. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_link.asp

Tables:
CSS Tables. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_table.asp

Clickable table cells:
Donnelly, J. (1963, April 01). Making a TD clickable. Retrieved July 06, 2020, from https://stackoverflow.com/questions/19326426/making-a-td-clickable

Go to top button:
How to create a link that goes to the top of a web page. (2019, December 30). Retrieved July 06, 2020, from https://www.computerhope.com/issues/ch001475.htm
DarkCode.(2018, October 27). Scroll top button back to top Using Only HTML & CSS [Video File]. Retrieved July 06, 2020 from https://www.youtube.com/watch?v=Vef9bxTilCU&feature=youtu.be
Smooth scrolling:
How TO - Smooth Scroll. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/howto/howto_css_smooth_scroll.asp

Gradients:
Generator, Maker, and Background. (n.d.). Retrieved July 06, 2020, from https://cssgradient.io/

Gallery images:
CSS z-index Property. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/cssref/pr_pos_z-index.asp
How TO - Zoom on Hover. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/howto/howto_css_zoom_hover.asp

Navigation bar:
CSS Horizontal Navigation Bar. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_navbar_horizontal.asp

Aligning Items:
Centering Things in CSS Using Flexbox. (n.d.). Retrieved July 06, 2020, from https://alligator.io/css/centering-using-flexbox/

Nested div backgrounds: 
Grobmeier, C. (2011, January 28). Nested divs with 100% height. Retrieved July 06, 2020, from https://grobmeier.solutions/neseteddivs-with-100-height-28012011.html

Flexbox bug in safari:
BrianBrian, &amp; Michael Benjamin. (1969, March 01). Image stretching in flexbox in Safari. Retrieved July 06, 2020, from https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari

Display Properties:
CSS display Property. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/cssref/pr_class_display.asp

Social Media Icons:
How TO - Social Media Buttons. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
Icons Reference. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/icons/icons_reference.asp

Mobile UI Styling:
Responsive Web Design - Media Queries. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_rwd_mediaqueries.asp

*/
