h2 {
    color: orange;
}

.darkElement {
    background: black;
    color: white;
}

.lightElement {
    background: white;
    color: black;
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* (Source: W3Schools How TO - Slideshow, 2020) accessed on 15 July 2020 */

.slideshow-container {
    margin: 10px;
    border-radius: 10px;
    padding: 1px 16px 20px 16px;
}

.mySlides {
    display: none;
}

.mySlides img {
    border-radius: 10px;
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}

.text {
    padding: 10px;
    font-size: 20px;
    position: block;
    top: 95%;
    width: 95%;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

.descrp {
    margin: 10px;
    padding: 1px 16px 25px 16px;
    border-radius: 10px;
}

.expansions {
    color: orange;
}

.purchaseLink {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: linear-gradient(to bottom right, red, rgb(255, 153, 0));
}

/* --------------------------------------------------------------------------------------------------------------------- */

.video {
    border-radius: 10px;
    margin: 10px;
}

.video iframe {
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
}

/* --------------------------------------------------------------------------------------------------------------------- */

.fortuneisland {
    margin: 10px;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    display: table;
    padding: 1px 16px 25px 16px;
}

.fortunepicture {
    float: left;
    width: 45%;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.fortunetext {
    width: 50%;
    float: right;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.lego {
    margin: 10px;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    display: table;
    padding: 1px 16px 25px 16px;
}

.legotext {
    width: 45%;
    float: left;
}

.legopicture {
    float: right;
    width: 45%;
    margin: 10px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* --------------------------------------------------------------------------------------------------------------------- */

.feedback {
    margin: 10px;
    width: auto;
    padding: 1px 16px 25px 16px;
    border-radius: 10px;
}

.feedback h3 {
    color: orange;
}

.feedback form {
    margin: auto;
    padding: 10px;
    background: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
    color: black;
    border-radius: 10px;
    width: 250px;
}

.fbPlugin {
    text-align: center;
    margin: auto;
    padding: 20px;
}

.fb-comments {
    border-radius: 10px;
    background: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* Mobile UI */

@media only screen and (max-width: 800px) {
    .text {
        font-size: 4vw;
    }
    .fortunepicture, .legopicture {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .fortunetext, .legotext {
        width: 100%;
    }
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/* 
REFERENCES:
iFrame Player Style:
Coyier, C., Author, &amp; Coyier, C. (2020, March 11). Fluid Width Video: CSS-Tricks. Retrieved October 27, 2020, from https://css-tricks.com/fluid-width-video/

JS Slidehow:
W3schools.com. 2020. W3schools How TO-Slideshow [online] Available at: <https://www.w3schools.com/howto/howto_js_slideshow.asp> [Accessed 15 July 2020].

Hyperlinks:
CSS Links. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_link.asp

Gradients:
Generator, Maker, and Background. (n.d.). Retrieved July 06, 2020, from https://cssgradient.io/

Navigation bar:
CSS Horizontal Navigation Bar. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_navbar_horizontal.asp

Aligning Items:
Centering Things in CSS Using Flexbox. (n.d.). Retrieved July 06, 2020, from https://alligator.io/css/centering-using-flexbox/

Nested div backgrounds: 
Grobmeier, C. (2011, January 28). Nested divs with 100% height. Retrieved July 06, 2020, from https://grobmeier.solutions/neseteddivs-with-100-height-28012011.html

Flexbox bug in safari:
BrianBrian, &amp; Michael Benjamin. (1969, March 01). Image stretching in flexbox in Safari. Retrieved July 06, 2020, from https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari

Display Properties:
CSS display Property. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/cssref/pr_class_display.asp

Social Media Icons:
How TO - Social Media Buttons. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
Icons Reference. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/icons/icons_reference.asp

Mobile UI Styling:
Responsive Web Design - Media Queries. (n.d.). Retrieved July 06, 2020, from https://www.w3schools.com/css/css_rwd_mediaqueries.asp

*/